.loader {
	border: 2rem solid hsl(var(---clr-white-99));
	border-radius: 50%;
	border-top: 2rem solid hsl(var(---clr-dark-90));
	width: 10rem;
	height: 10rem;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
