.wish-screen {
	margin-top: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	width: 100%;
	height: 100%;
}

.wish-screen > * {
	width: 18rem;
}

.card-product {
	margin: 0;
}
