.form-login {
	width: 45%;
	/* margin: 10vh auto 0 auto; */
}
.already-done {
	margin-top: 0.5rem;
}

.fa-eye{
	cursor: pointer;
}
@media (max-width: 60em) {
	.form-login {
		width: 60%;
	}
}
@media (max-width: 40em) {
	.form-login {
		width: 80%;
	}
}

i {
	inset: 20% 0% 0% 90%;
}

::-ms-reveal {
	display: none !important;
}

header {
	padding: 1rem;
}

.rememberMe {
	display: inline;
	width: fit-content;
	margin-right: 0.5rem;
	width: 1rem;
}

.forgot-password {
	margin-left: auto;
}

label {
	white-space: nowrap;
}

form {
	min-height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btn-guest{
	all: unset;
	color: hsl(var(--clr-blue));
	text-decoration: underline;
	display: inline;
}

.btn-signUp{
	margin-bottom: 1rem;
}

.already-done{
	margin-bottom: 1rem;
}

@media(max-width: 40em){
	.btn-signUp{
		padding: 0.75rem 3rem;
		width: 100%;
	}
}

.fa-eye{
	inset: 16% 0% 0% 91%;
}