header {
	padding: 0.5rem;
	position: fixed;
	z-index: 9999;
	width: 100%;
}

.brand-name {
	display: none;
}

@media only screen and (min-width: 40em) {
	header {
		width: 80%;
	}
	.brand-name {
		display: inline;
	}
}

.btn-apply-filters {
	padding: 0.5rem;
	margin-left: 0.25rem;
}

.header-ctas {
	align-items: center;
}

.candyshop-header {
	gap: 0.5rem;
}

.header-ctas > * {
	margin: 0 0.25rem;
}

.candyshop-header .search-candies {
	width: 100%;
}

.input-search {
	width: 100%;
	border: 2px solid hsl(var(---clr-dark));
	padding: 0.25rem;
}

.search-icon {
	position: absolute;
	inset: 0% 0% 0% 0%;
	margin: 0 1rem 0 auto;
}

.cart-icon,
.wishlist-icon {
	display: inline;
}

@media only screen and (min-width: 40em) {
	.filters {
		width: 80vw;
	}
}

@media only screen and (min-width: 40em) {
	.header-ctas > * {
		margin: 0 1rem;
	}
}
