.cart-summary{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--clr-light));
    border-radius: 5px solid hsl(var(--clr-light));
    padding: 2rem 7rem;
    width: fit-content;
}

@media(max-width: 60em){
    .cart-summary{
        padding: 1rem 2rem;
    }
}

.subtotal{
    border-bottom: 2px solid hsl(var(--clr-red));
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.checkout-price{
    border: 0;
}

.apply-cupons{
    background-color: hsl(var(--clr-blue));
    padding: 0.25rem 1rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.checkout-price{
    background-color: hsl(var(--clr-dark));
    color: hsl(var(--clr-white));
    width: 100%;
    padding: 0.5rem 1.5rem;
    text-align: center;
    cursor: pointer;
}

.cart-page{
    width: 100%;
    height: 100%;
}

.empty-cart{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.empty-subheading{
    margin-top: 1rem;
    color: hsl(var(--clr-blue));
}

.apply-cupons svg{
    display: inline;
}

.empty-cart-wrapper{
    width: 10rem;
}

.empty-cart{
    width: 100%;
}

.btn-empty{
    padding: 0.75rem 3rem;
    margin: 1rem 0;
    background-color: hsl(var(--clr-blue));
}