.payment-screen{
    padding-top: 10vh;
}

@media(max-width: 60em){
    .payment-screen{
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }
}

.delivery-summary{
    width: 50%;
}

@media(max-width: 60em){
    .delivery-summary{
        width: 100%;
    }
}

.delivery-info{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cartItem-product{
    width: 100%;
    gap: 1rem;
    margin: 1rem 0;
}

@media(max-width: 60em){
    .cartItem-product{
        flex-direction: column;
    }
}

.cartImg-wrapper{
    width: 30%;
}

@media(max-width: 60em){
    .cartImg-wrapper{
        width: 45%;
    }
}

.cartItem-img{
    width: 100%;
    aspect-ratio: 1;
}

.cartItem-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cartItems-heading{
    margin-top: 1rem;
}

.payment-cart-btn{
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin: 0;
}

@media(max-width: 60em){
    .payment-cart-btn{
        align-self: flex-start;
    }
}

.payment-cart-btn span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.payment-cart-btn > *{
    display: inline;
}

.payment-cart-btn:hover{
    background: hsl(var(--clr-dark));
    color: hsl(var(--clr-white));
    cursor: pointer;
    transform: scale(1);
}

.billing-section{
    align-self: flex-start;
    width: 50%;
}

@media(max-width: 60em){
    .billing-section{
        width: 100%;
    }
}

.cupon-svg{
    display: inline-block;
}

.cupon-card{
    background: hsl(var(--clr-light));
    width: fit-content;
    padding: 1rem 4rem;
    margin-top: 1rem;
    position: relative;
    border: 2px solid hsl(var(--clr-dark))
}

.btn-cupon{
    padding: 0.5rem 2rem;
    border: 0;
}

@media(max-width: 60em){
    .btn-cupon{
        display: inline;
    }
}

.subtotal-wrapper{
    margin-top: 1rem;
}

.btn-cupon:hover{
    background-color: hsl(var(--clr-dark));
    color: hsl(var(--clr-white));
}

.cupon-input-wrapper{
    display: inline;
}

.cupon-input-feild{
    border: 2px solid hsl(var(--clr-dark));
    margin: 0.5rem;
    padding: 0 0.5rem;
}

@media(max-width: 60em){
    .cupon-input-tag{
        display: none;
    }
    .cupon-input-feild{
        margin: 0;
    }
    .cuponinput-feild{
        display: inline;
    }
}


.cupon-applied{
    position: absolute;
    inset: 10% 0% 0% 90%;
}

.payment-gateway{
    margin-top: 1rem;
    width: 70%;
}

@media(max-width: 60em){
    .payment-gateway{
        width: 100%;
    }
}