.filters {
	position: absolute;
	width: 100vw;
	height: fit-content;
	inset: 85% 0% 0% -1%;
	z-index: 9999;
	border-top: 3px solid hsl(var(--clr-red));
	justify-content: space-between;
	background: hsl(var(---clr-white-99));
	display: none;
	padding: 1rem ;
	gap: 1rem;
}

@media only screen and (min-width: 40em) {
	.filters {
		width: 80vw;
		padding: 1rem;
	}
}

.text {
	font-size: 0.85rem;
}

.btn-apply-filters:hover + .filters,
.filters:hover {
	display: flex;
}

.filters .radio:checked + .text,
.filters .checkbox:checked + .text {
	text-decoration: underline;
	text-decoration-color: hsl(var(--clr-blue));
	text-decoration-thickness: 3px;
}

.filters input[type='radio'],
.filters input[type='checkbox'] {
	opacity: 0;
	width: 0;
	height: 0;
}

fieldset {
	border: 0;
}

legend {
	margin: 0;
	padding: 0;
}

input[type='range'] {
	display: block;
	margin: 0;
	width: 100%;
	height: 5px;
}

/* input[type='range'] + input[type='range'] {
	position: absolute;
	inset: 0% 0% 0% 0%;
} */

.price-range {
	width: 50%;
	display: inline;
}

.react-icon-buttons {
	margin-right: 0;
}

@media only screen and (min-width: 40em) {
	.price-range {
		width: 30%;
		display: list-item;
	}
	.react-icon-buttons {
		margin-right: 1rem;
	}
}

.sort-by > *{
	margin-bottom: 1rem;
}
.sort-by-heading {
	margin-bottom: 0.5rem;
}

.price-range-title {
	margin-bottom: 0.5rem;
}

.price-slider-1 {
	z-index: 9999;
}

.filters label:hover {
	text-decoration: underline;
	text-decoration-color: hsl(var(--clr-blue));
	cursor: pointer;
}

.btn-clear-filters {
	padding: 0.5rem;
	display: inline-block;
	margin-right: 2px;
}

.filter-products {
	margin: 0;
}

.slider-input{
	margin: 1rem 0;
}

.input-min, .input-max{
	border: 0;
	width: 6rem;
	display: inline;
}
  
.input-range {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
  }
  
  .slider-range {
    margin-top: 0.5rem;
    height: 3px;
    border-radius: 0.5rem;
    background:  hsl(var(--clr-dark));
    position: relative;
    width: 100%;
  }
  
  .slider-range .progress {
    height: 3px;
    border-radius: 0.5rem;
    position: absolute;
    inset: 0% 25% 0% 25%;
   
  }
  
  .slider-range input {
    position: absolute;
    height: 0.3rem;
    width: 100%;
    background: none;
    -webkit-appearance: none;
    pointer-events: none;
  }

  
  
  input[type='range']::-webkit-slider-thumb {
    width: 1rem;
    aspect-ratio: 1;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background: hsl(var(--clr-blue));
  }


  
  input[type='range']::-moz-range-thumb {
    width: 1rem;
    aspect-ratio: 1;
    border: none;
    border-radius: 50%;
    pointer-events: auto;
    -moz-appearance: none;
    background: hsl(var(--clr-blue));
  }

 
  