/* Component lib */
@import url('https://nextui.netlify.app/nextui.css');

/* Typography */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

:root {
	--fs-850: 3rem;
	--fs-800: 2rem;
	--fs-700: 1.75rem;
	--fs-600: 1.5rem;
	--fs-500: 1.25rem;
	--fs-400: 1rem;
	--fs-300: 0.75rem;
	--fs-200: 0.5rem;

	---clr-white: 0 0% 100%;
	---clr-white-99: 0 0% 99%;
	---clr-white-98: 0 0% 98%;
	---clr-white-97: 0 0% 97%;
	---clr-white-95: 0 0% 95%;
	---clr-white-90: 0 0% 90%;
	---clr-white-80: 0 0% 80%;
	---clr-white-70: 0 0% 70%;
	---clr-white-60: 0 0% 60%;
	---clr-grey: 0 0 50%;
	---clr-dark-60: 0 0 40%;
	---clr-dark-70: 0 0 30%;
	---clr-dark-80: 0 0 20%;
	---clr-dark-90: 0 0 10%;
	---clr-dark: 0 0 0%;

	--ff-serif-ibm: 'IBM Plex Sans', sans-serif;
}

/* Box sizing rules */
html {
	box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

/* Percentage based heights */
html,
body {
	height: 100%;
}

/* Set core body defaults */
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: transparent;
	font-family: var(--ff-serif-ibm);
	background-color: hsl(var(---clr-dark));
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* Make images, videos and icons easier to work with */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
}

/* More sensible line-wrapping */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
	hyphens: auto;
	margin: 0;
	padding: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* React Framework Specific */
#root,
#__next {
	isolation: isolate;
}

aside {
	display: block;
	position: unset;
	width: unset;
}

header{
	height: fit-content;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

@media only screen and (min-width: 40em) {
	body {
		width: 80%;
		margin: 0 auto;
	}
}
