.not-found-screen{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-not-found{
    width: 25rem;
}

.btn-shop-now{
    background-color: hsl(var(--clr-blue))
}